/test/
/BrasOuverts/build/
/BrasOuverts/dist/
/BrasOuverts/nbproject/private/
/BrasOuverts/*/build/
/BrasOuverts/*/dist/
/BrasOuverts/*/nbproject/private/
/BrasOuverts/Libraries/*/build/
/BrasOuverts/Libraries/*/dist/
/BrasOuverts/Libraries/*/nbproject/private/
/FixNetbeansBranding/build/
/FixNetbeansBranding/dist/
